#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  max-width: 600px;
  width: 600px;
  margin: 0 auto;
  padding: 0;
 }

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.item span{
  margin-left: 1rem;
  margin-left: 1rem;
  flex-grow: 1;
  text-align: left;
}

.completed {
  text-decoration: line-through;
}